<span style='color:red'> This jupyter-notebook contains solutions for the Practice Quizes attempted while completign the Project: Investigate a Relational Database. </span>

***

## <span style='color:blue'> Practice Quiz #1 </span>

**Q1**: Create a table that provides the following details: 
    - Actor's first and last name combined as full_name
    - Film title
    - Film description
    - Length of the movie.

```sql

SELECT  a.first_name AS actor_firstname,
		a.last_name AS actor_lastname,
		a.first_name || ' ' || a.last_name AS actor_fullname,
        f.title AS film_title,
        f.description AS film_description,
        f.length AS film_length
FROM film_actor AS fa
JOIN actor AS a
ON a.actor_id = fa.actor_id
JOIN film AS f
ON f.film_id = fa.film_id;

```

**Q2**: Create a table with list of actors and movies where the movie length was more than 60 minutes. 
    - How many rows are there in this query result?

```sql
SELECT COUNT(*) nfilms_gt60
FROM
    (SELECT  a.first_name || ' ' || a.last_name AS actor_fullname,
            f.title AS film_title,
            f.length AS film_length
    FROM film_actor AS fa
    JOIN actor AS a
    ON a.actor_id = fa.actor_id
    JOIN film AS f
    ON f.film_id = fa.film_id
    WHERE f.length > 60
    ) sq;
```

**Q3**: Write a query that captures the 
    - actor id
    - full name of the actor
    - counts the number of movies each actor has made
    (HINT: Think about whether you should group by actor id or the full name of the actor.) 
    - Identify the actor who has made the maximum number movies.

```sql

SELECT  a.actor_id AS actor_id,
        a.first_name || ' ' || a.last_name AS actor_fullname,
        COUNT(f.title) AS nfilms_actor
FROM film_actor AS fa
JOIN actor AS a
ON a.actor_id = fa.actor_id
JOIN film AS f
ON f.film_id = fa.film_id
GROUP BY 1
ORDER BY 3 DESC
LIMIT 1;

```

***

## <span style='color:blue'> Practice Quiz #2 </span>

**Q1**: Write a query that displays a table with 4 columns: 
    - actor's full name
    - film title
    - length of movie
    - a column name "filmlen_groups" that classifies movies based on their length. 
    - Filmlen_groups should include 4 categories: 
        - 1 hour or less
        - Between 1-2 hours
        - Between 2-3 hours
        - More than 3 hours.

```sql

SELECT  a.first_name || ' ' || a.last_name AS actor_fullname,
        f.title AS film_title,
        f.length AS film_length,
        CASE
            WHEN (f.length <= 60) THEN '1 hour or less'
            WHEN (f.length > 60 AND f.length <= 120) THEN 'Between 1-2 hours'
            WHEN (f.length > 120 AND f.length <= 180) THEN 'Between 2-3 hours'
            ELSE 'More than 3 hours' 
        END AS filmlen_groups
FROM film_actor AS fa
JOIN actor AS a
ON a.actor_id = fa.actor_id
JOIN film AS f
ON f.film_id = fa.film_id;

```

Q2: Revise the query you wrote above to create a count of movies in each of the 4 filmlen_groups: 1 hour or less, Between 1-2 hours, Between 2-3 hours, More than 3 hours.

```sql

WITH film_groups AS (SELECT f.title,
        f.length,
        CASE
            WHEN (f.length <= 60) THEN '1 hour or less'
            WHEN (f.length > 60 AND f.length <= 120) THEN 'Between 1-2 hours'
            WHEN (f.length > 120 AND f.length <= 180) THEN 'Between 2-3 hours'
            ELSE 'More than 3 hours' 
        END AS filmlen_groups
FROM film AS f)


SELECT DISTINCT(filmlen_groups),
		COUNT(title) OVER (PARTITION BY filmlen_groups) AS nfilm_groups
FROM film_groups

```